<html>
    <head>
        <title>Create Task</title>

    </head>
    <body>

        <form method="POST" action="/create_task">
            <label for="task_date">date:</label><br>
            <input type="date" name="task_date" id="task_date"><br>
             <label for="task_time">time:</label><br>
            <input type="time" name="task_time" id="task_time"><br>
            <label for="task_name">Task Name:</label><br>
            <input type="text" name="task_name" id="task_name"><br>
          <button type="submit" value="Submit">Submit</button>
        </form>
    </body>
</html>